<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ORG" value="" />
    <add key="RootProfiles" value="" />
    <add key="DBName" value="WALT" />
    <add key="DBServer" value="" />
    <add key="DBPool" value="0"/>
    <add key="TestMode" value="1"/>
    <add key="Debug" value="0"/>
    <add key="SyncADOnProfileSave" value="1"/>
    <add key="ADUsername" value=""/>
    <add key="ADPassword" value=""/>
    <add key="ADDomainComponents" value=""/>
    <add key="ADDomains" value=""/>
    <add key="SubmitTicketURL" value=""/>
    <add key="ReleaseNotesURL" value=""/>
    <add key="FAQURL" value=""/>
    <add key="PingInterval" value="3"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>